
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 10px;
}

h1{
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.container nav ul {
  display: flex;
  padding: 10px 30px;
list-style: none;
justify-content: space-evenly;
}

.container ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
}